* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: hotpink;
}

.header-box {
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header-box > :first-child {
  margin-right: auto;
}

.header-item {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: pink;
}