* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: hotpink;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header > div {
  width: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: pink;
}

.header > :first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background-color: yellowgreen;
}

.content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  flex-grow: 1;
  background-color: greenyellow;
}

.content > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: yellow;
}

.footer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(0, 108, 248);
}

.footer > div {
  width: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: lightblue;
}

